.menu-item {
  /* border: 3px solid blue; */
  display: flex;
  align-items: center;
  padding: 1rem 0;
  padding-left: 1.5rem;
  cursor: pointer;
}

.menu-item i {
  font-size: 1.4rem;
}

.menu-item h2 {
  font-size: 0.9rem;
  margin-left: 1rem;
}

.menu-item:hover {
  background-color: var(--color-white);
}
